<div class="social_sharing_block">
	<span>Share: </span>

	{% if settings.sharing_fb %}
		<a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_link }}" title="Share">
			<i class="fa fa-facebook" aria-hidden="true"></i>
		</a>
	{% endif %}

	{% if settings.sharing_in %}
		<a class="inst" target="_blank" href="{{ settings.instagram_post_link }}" title="Share">
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10 1.79688C11.3411 1.79688 12.2135 1.80339 12.6172 1.81641C13.0339 1.81641 13.5091 1.82943 14.043 1.85547C14.6159 1.88151 15.1562 1.97266 15.6641 2.12891C16.1849 2.27214 16.6471 2.54557 17.0508 2.94922C17.4544 3.35286 17.7279 3.8151 17.8711 4.33594C18.0273 4.84375 18.1185 5.38411 18.1445 5.95703C18.1706 6.49089 18.1836 6.96615 18.1836 7.38281C18.1966 7.78646 18.2031 8.65885 18.2031 10C18.2031 11.3411 18.1966 12.2201 18.1836 12.6367C18.1836 13.0404 18.1706 13.5091 18.1445 14.043C18.1185 14.6159 18.0273 15.1628 17.8711 15.6836C17.7279 16.1914 17.4544 16.6471 17.0508 17.0508C16.6471 17.4544 16.1849 17.7344 15.6641 17.8906C15.1562 18.0339 14.6159 18.1185 14.043 18.1445C13.5091 18.1706 13.0339 18.1901 12.6172 18.2031C12.2135 18.2031 11.3411 18.2031 10 18.2031C8.65885 18.2031 7.77995 18.2031 7.36328 18.2031C6.95964 18.1901 6.49089 18.1706 5.95703 18.1445C5.38411 18.1185 4.83724 18.0339 4.31641 17.8906C3.80859 17.7344 3.35286 17.4544 2.94922 17.0508C2.54557 16.6471 2.26562 16.1914 2.10938 15.6836C1.96615 15.1628 1.88151 14.6159 1.85547 14.043C1.82943 13.5091 1.8099 13.0404 1.79688 12.6367C1.79688 12.2201 1.79688 11.3411 1.79688 10C1.79688 8.65885 1.79688 7.78646 1.79688 7.38281C1.8099 6.96615 1.82943 6.49089 1.85547 5.95703C1.88151 5.38411 1.96615 4.84375 2.10938 4.33594C2.26562 3.8151 2.54557 3.35286 2.94922 2.94922C3.35286 2.54557 3.80859 2.27214 4.31641 2.12891C4.83724 1.97266 5.38411 1.88151 5.95703 1.85547C6.49089 1.82943 6.95964 1.81641 7.36328 1.81641C7.77995 1.80339 8.65885 1.79688 10 1.79688ZM10 0C8.64583 0 7.75391 0.00651042 7.32422 0.0195312C6.89453 0.0195312 6.41276 0.0325521 5.87891 0.0585938C5.05859 0.0976562 4.29688 0.234375 3.59375 0.46875C2.89062 0.703125 2.2526 1.10677 1.67969 1.67969C1.10677 2.2526 0.703125 2.89062 0.46875 3.59375C0.234375 4.29688 0.0976562 5.05859 0.0585938 5.87891C0.0325521 6.41276 0.0130208 6.89453 0 7.32422C0 7.75391 0 8.64583 0 10C0 11.3542 0 12.2461 0 12.6758C0.0130208 13.1055 0.0325521 13.5872 0.0585938 14.1211C0.0976562 14.9414 0.234375 15.7031 0.46875 16.4062C0.703125 17.1094 1.10677 17.7474 1.67969 18.3203C2.2526 18.8932 2.89062 19.2969 3.59375 19.5312C4.29688 19.7656 5.05859 19.9023 5.87891 19.9414C6.41276 19.9674 6.89453 19.9805 7.32422 19.9805C7.75391 19.9935 8.64583 20 10 20C11.3542 20 12.2461 19.9935 12.6758 19.9805C13.1055 19.9805 13.5872 19.9674 14.1211 19.9414C14.9414 19.9023 15.7031 19.7656 16.4062 19.5312C17.1094 19.2969 17.7474 18.8932 18.3203 18.3203C18.8932 17.7474 19.2969 17.1094 19.5312 16.4062C19.7656 15.7031 19.9023 14.9414 19.9414 14.1211C19.9674 13.5872 19.9805 13.1055 19.9805 12.6758C19.9935 12.2461 20 11.3542 20 10C20 8.64583 19.9935 7.75391 19.9805 7.32422C19.9805 6.89453 19.9674 6.41276 19.9414 5.87891C19.9023 5.05859 19.7656 4.29688 19.5312 3.59375C19.2969 2.89062 18.8932 2.2526 18.3203 1.67969C17.7474 1.10677 17.1094 0.703125 16.4062 0.46875C15.7031 0.234375 14.9414 0.0976562 14.1211 0.0585938C13.5872 0.0325521 13.1055 0.0195312 12.6758 0.0195312C12.2461 0.00651042 11.3542 0 10 0ZM10 4.86328C9.29688 4.86328 8.63281 5 8.00781 5.27344C7.38281 5.53385 6.83594 5.89844 6.36719 6.36719C5.89844 6.83594 5.52734 7.38281 5.25391 8.00781C4.99349 8.63281 4.86328 9.29688 4.86328 10C4.86328 10.7031 4.99349 11.3672 5.25391 11.9922C5.52734 12.6172 5.89844 13.1641 6.36719 13.6328C6.83594 14.1016 7.38281 14.4727 8.00781 14.7461C8.63281 15.0065 9.29688 15.1367 10 15.1367C10.7031 15.1367 11.3672 15.0065 11.9922 14.7461C12.6172 14.4727 13.1641 14.1016 13.6328 13.6328C14.1016 13.1641 14.4661 12.6172 14.7266 11.9922C15 11.3672 15.1367 10.7031 15.1367 10C15.1367 9.29688 15 8.63281 14.7266 8.00781C14.4661 7.38281 14.1016 6.83594 13.6328 6.36719C13.1641 5.89844 12.6172 5.53385 11.9922 5.27344C11.3672 5 10.7031 4.86328 10 4.86328ZM10 13.3398C9.07552 13.3398 8.28776 13.0143 7.63672 12.3633C6.98568 11.7122 6.66016 10.9245 6.66016 10C6.66016 9.07552 6.98568 8.28776 7.63672 7.63672C8.28776 6.98568 9.07552 6.66016 10 6.66016C10.9245 6.66016 11.7122 6.98568 12.3633 7.63672C13.0143 8.28776 13.3398 9.07552 13.3398 10C13.3398 10.9245 13.0143 11.7122 12.3633 12.3633C11.7122 13.0143 10.9245 13.3398 10 13.3398ZM16.543 4.66797C16.543 4.99349 16.4258 5.27344 16.1914 5.50781C15.957 5.74219 15.6706 5.85938 15.332 5.85938C15.0065 5.85938 14.7266 5.74219 14.4922 5.50781C14.2578 5.27344 14.1406 4.99349 14.1406 4.66797C14.1406 4.32943 14.2578 4.04297 14.4922 3.80859C14.7266 3.57422 15.0065 3.45703 15.332 3.45703C15.6706 3.45703 15.957 3.57422 16.1914 3.80859C16.4258 4.04297 16.543 4.32943 16.543 4.66797Z" fill="#171717"/>
			</svg>
		</a>
	{% endif %}

	{% if settings.sharing_tw %}
		<a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_link }}" title="Share">
			<i class="fa fa-twitter" aria-hidden="true"></i>
		</a>
	{% endif %}


	{% if settings.sharing_pin %}
		<a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_link }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" title="Share">
			<i class="fa fa-pinterest" aria-hidden="true"></i>
		</a>
	{% endif %}


</div>